@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif; */

html body {
	height: 10000px;  /* 페이지 보기 편하게 잡은거 완성 후 지움 */
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	letter-spacing: -.5px;
	color: #121212;
}

.wrapper {
	width: 800px;
	margin: auto;
}

/* header-wrapper */
.header-wrapper {
	position: fixed;
	width: 100%;
	background-color: #121212;
	color: #f9f9f9;
	z-index: 9999;
}
.header-wrapper .navi-wrap {
	float: left;
}
.header-wrapper .navi-wrap .navi {
	float: left;
	position: relative;
}
.header-wrapper .navi-wrap .navi > a {
	padding: 17px 1.25em;
}
.header-wrapper .navi-wrap .navi a .down {
	margin-left: .325em;
}
.header-wrapper .navi-wrap .navi:hover{
	background-color: #f5f5dc;
	color: #333;
}
.header-wrapper .navi-wrap .navi:hover .navi-menu {
	display: block;
}
.header-wrapper .navi-wrap .navi .navi-menu {
	position: absolute;
	background-color: #f1f1f1;
	color: #121212;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	display: none;
}
.header-wrapper .navi-wrap .navi .navi-menu .menu > a{
	padding: .875em 1.25em;
	display: block;
}
.header-wrapper .navi-wrap .navi .navi-menu .menu:hover {
	background-color: #ccc;
}
.header-wrapper .search {
	float: right;
}
.header-wrapper .search i {
	padding: 17px 16px;
}
.header-wrapper .search i:hover {
	background-color: salmon;
}

/* main-wrapper */
.main-wrapper {
	color: #fff;
	padding-bottom: 7em;
}
.main-wrapper .img-wrapper{
	position: relative;
	padding-top: 50px;

}
.main-wrapper .img-wrapper .img-wrap{
	opacity: 0;
	transition: all .35s;
}
.main-wrapper .img-wrapper .img-wrap:first-child{
	opacity: 1;
}
.main-wrapper .img-wrapper .img-wrap img {
	width: 100%;
	position: absolute;
	top: 50px;
}
.main-wrapper .img-wrap .content-wrap {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	text-align: center;
	bottom: 0;
}
.main-wrapper .img-wrap .content-wrap .country {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.main-wrapper .img-wrap .content-wrap .content {
	letter-spacing: -1px;
}

/* band-wrapper */
.band-wrapper {

}
.band-wrapper .band-wrap{
	text-align: center;
}
.band-wrap .profile-wrap {
	float: left;
	margin: 0 3%;
}
.band-wrap .profile-wrap .profile {
	float: left;
	width: 33.3333%;
	padding: 6%;
}
.band-wrap .profile-wrap .profile .profile-photo img {
	width: 100%;
}
