html body {
	height: 10000px;  /* 페이지 보기 편하게 잡은거 완성 후 지움 */
	margin: 0;
	font-size: 16px;
	color: #111;
}

/* header-wrapper */
.header-wrapper {
	width: 100%;
	background-color: #111;
	color: #fff;
	position: fixed;
	z-index: 9999;
}
.header-wrapper .navi-wrap {
	float: left;
	position: relative;
}
.header-wrapper .navi-wrap .navi {
	float: left;

}
.header-wrapper .navi-wrap .navi > a {
	padding: 17px 1.25em;
}
.header-wrapper .navi-wrap .navi a .down {
	padding-left: .325em;
}
.header-wrapper .navi-wrap .navi:hover{
	background-color: beige;
	color: #333;
}
.header-wrapper .navi-wrap .navi.active > .navi-menu{
	display: block;
}
.header-wrapper .navi-wrap .navi:hover .navi-menu {
	display: block;
}
.header-wrapper .navi-wrap .navi .navi-menu {
	position: absolute;
	background-color: #fff;
	color: #333;
	top: 50px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	display: none;
}
.header-wrapper .navi-wrap .navi .navi-menu .menu > a{
	padding: .875em 1.25em;
	display: block;
}
.header-wrapper .navi-wrap .navi .navi-menu .menu:hover {
	background-color: #ccc;
}
.header-wrapper .search {
	float: right;
}
.header-wrapper .search i {
	padding: 17px 16px;
}
.header-wrapper .search i:hover {
	background-color: salmon;
}

/* main-wrapper */
.main-wrapper {
	color: #fff;
	padding-bottom: 7em;
}
.main-wrapper .img-wrapper{
	position: relative;
	padding-top: 50px;
	height: 100vh;

}
.main-wrapper .img-wrapper .img-wrap{
	opacity: 0;
	transition: all .35s;
}
.main-wrapper .img-wrapper .img-wrap:first-child{
	opacity: 1;
}
.main-wrapper .img-wrapper .img-wrap img {
	width: 100%;
	position: absolute;
	top: 50px;
}
.main-wrapper .img-wrap .content-wrap {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	text-align: center;
	bottom: 0;
}
.main-wrapper .img-wrap .content-wrap .country {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.main-wrapper .img-wrap .content-wrap .content {
	letter-spacing: -1px;
}